{{!-- <!DOCTYPE html> --}}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Muhammad Sajjad Hussein">
    <title>Digital Box</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">


    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/plotly-latest.min.js"></script>
    

</head>

<body>
    {{!-- justify-content-between --}}
    <nav class="navbar navbar-inverse bg-primary justify-content-between">
        <a class="navbar-brand text-white" href="/">
            <strong>Digital Box</strong>
        </a>
        <ul class="list-inline">
            {{#if user}}
            <li class="list-inline-item">
                <a class="btn btn-primary text-white" href="/">Dashboard</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-primary text-white" href="/api/zone">Zone</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-primary text-white" href="/api/graphs">Real Time Graph</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-primary text-white" href="/api/plotly">Filtered Graph</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-primary text-white" href="/api/map">Location</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-primary text-white" href="/api/sensors">Sensor Data</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-primary text-white" href="/users/logout">Logout</a>
            </li>
            {{else}}
            <li class="list-inline-item">
                <a class="btn btn-primary text-white" href="/users/login">
                    <strong>Login</strong>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-primary text-white" href="/users/register">
                    <strong>Register</strong>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
    <div class="container background">
        {{!-- justify-content-center --}}
        <div class="row justify-content-center align-items-center">
            {{{body}}}
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            {{#if success_msg}}
            <div class="alert alert-success">
                {{success_msg}}
            </div>
            {{/if}} {{#if error_msg}}
            <div class="alert alert-danger">
                {{error_msg}}
            </div>
            {{/if}} {{#if error}}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {{/if}}
        </div>
    </div>
    {{!-- Firebase Starts --}}
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBZfFHbp2FSHdMY6K2kQ-fcEz5Kl8H2kN0",
            authDomain: "digital-box-f3d2c.firebaseapp.com",
            databaseURL: "https://digital-box-f3d2c.firebaseio.com",
            projectId: "digital-box-f3d2c",
            storageBucket: "",
            messagingSenderId: "849357407848"
        };
        firebase.initializeApp(config);
    </script>
    {{!-- Firebase Ends --}}
</body>

</html>
