<div class="jumbotron">
    <h1 class="display-4">Data Details</h1>

    <p class="lead"><strong>ID: </strong>{{data._id}}</p>
    <p class="lead"><strong>Datetime: </strong>{{data.DATETIME}}</p>
    <p class="lead"><strong>Temperature: </strong>{{data.TEMPERATURE}}</p>
    <p class="lead"><strong>Humidity: </strong>{{data.HUMIDITY}}</p>
    <p class="lead"><strong>CO2: </strong>{{data.CO2}}</p>
    <p class="lead"><strong>VOC: </strong>{{data.VOC}}</p>
    <p class="lead"><strong>CH4: </strong>{{data.CH4}}</p>
    <div class="row">
        <div class="col">
            <form action="/api/sensor/{{data._id}}/edit?_method=PUT" method="post">
                <button type="submit" class="btn btn-primary btn-block text-white">Edit</button>
            </form>
        </div>
        <div class="col">
            <form action="/api/sensor/{{data._id}}/delete?_method=DELETE" method="post">
                <button type="submit" class="btn btn-primary btn-block text-white">Delete</button>
            </form>
        </div>
    </div>
</div>