<form class="jumbotron" method="POST" action="/api/update">
    <p class="display-4">Edit Data</p>
    <input type="hidden" name="route" value="">
    <input type="hidden" value="{{data._id}}" name="_id">
    <label>Datetime</label>
    <input class="form-control lead" value="{{data.DATETIME}}" name="DATETIME">
    <label>Temperature</label>
    <input class="form-control lead" value="{{data.TEMPERATURE}}" name="TEMPERATURE">
    <label>Humidity</label>
    <input class="form-control lead" value="{{data.HUMIDITY}}" name="HUMIDITY">
    <label>VOC</label>
    <input class="form-control lead" value="{{data.CO2}}" name="CO2">
    <label>CO2</label>
    <input class="form-control lead" value="{{data.VOC}}" name="VOC">
    <label>CH4</label>
    <input class="form-control lead" value="{{data.CH4}}" name="CH4">
    
    <br>
    <button class="btn btn-info btn-block text-white" type="submit">Update</button>
</form>