<form method="post" action="/users/sendmail">
    <h3 class="display-4">Forgot your Password?</h3>
    <div class="input-group">
        <input type="email" class="form-control-lg" placeholder="Email address" name="email">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-lg btn-info" >Send</button>
        </span>
    </div>
</form>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">
            {{msg}}
        </div>
    {{/each}}
{{/if}}
