<div class="card-group">
  <div class="card text-white bg-primary mb-3">
    <div class="card-header"><strong>Temperature</strong></div>
    <div class="card-body">
      <span id="temp" class="display-4"></span>
      <strong class="display-4">°C</strong>

    </div>
    {{!-- Progress Bar --}}
    <div class="progress">
      <div id="tempo" class="progress-bar bg-success" style="width:0%">
        Optimum
      </div>
      <div id="temph" class="progress-bar bg-danger" style="width:0%">
        High
      </div>
    </div>
    {{!-- Progress Bar --}}
  </div>
  <div class="card text-white bg-secondary mb-3">
    <div class="card-header"><strong>Humidity</strong></div>
    <div class="card-body">
      <span id="hum" class="display-4"></span>
      <strong class="display-4">%</strong>
    </div>
    {{!-- Progress Bar --}}
    <div class="progress">
      <div id="humid" class="progress-bar bg-success" style="width:0%">
        Humidity
      </div>
    </div>
    {{!-- Progress Bar --}}
  </div>
  <div class="card text-white bg-success mb-3">
    <div class="card-header"><strong>VOC</strong></div>
    <div class="card-body">
      <span id="voc" class="display-4"></span>
      <strong class="display-4"> ppb</strong>

    </div>
    {{!-- Progress Bar --}}
    <div class="progress">
      <div id="vocn" class="progress-bar bg-success" style="width:0%">
        Normal
      </div>
      <div id="voch" class="progress-bar bg-danger" style="width:0%">
        High
      </div>
    </div>
    {{!-- Progress Bar --}}
  </div>

</div>

<div class="card-group">
  <div class="card text-white bg-danger mb-3">
    <div class="card-header"><strong> Carbon Dioxide</strong></div>
    <div class="card-body">
      <span id="co2" class="display-4"></span>
      <strong class="display-4"> ppm</strong>

    </div>
    {{!-- Progress Bar --}}
    <div class="progress">
      <div id="co2n" class="progress-bar bg-success" style="width:0%">
        Normal
      </div>
      <div id="co2p" class="progress-bar bg-warning" style="width:0%">
        Poor
      </div>
      <div id="co2h" class="progress-bar bg-danger" style="width:0%">
        Harmful
      </div>
    </div>
    {{!-- Progress Bar --}}
  </div>
  <div class="card text-white bg-warning mb-3">
    <div class="card-header"><strong> Methane</strong></div>
    <div class="card-body">
      <span id="gas" class="display-4"></span>
      <strong class="display-4"> ppm</strong>

    </div>
    {{!-- Progress Bar --}}
    <div class="progress">
      <div id="metm" class="progress-bar bg-success" style="width:0%">
        Moderate
      </div>
      <div id="meth" class="progress-bar bg-danger" style="width:0%">
        High
      </div>
    </div>
    {{!-- Progress Bar --}}
  </div>

</div>
<div>
  <strong>Updated on: </strong>
  <spen id="time"></span>
</div>
<script>
  $(document).ready(function () {
    socket.emit('subscribe', { topic: 'Digital_box' });
    var TMP = '{{ data.TEMPERATURE }}'
    var HUM = '{{data.HUMIDITY}}'
    var CO2 = '{{data.CO2}}'
    var VOC = '{{data.VOC}}'
    var CH4 = '{{data.CH4}}'
    var TIME = '{{data.DATETIME}}'
    // Datetime
    $(time).text(TIME)
    // Temperature
    $(temp).text(TMP);
    if (TMP < 5) {
      $(tempo).width('50%');
      $(temph).width('0%');
    } else if (TMP > 4) {
      $(tempo).width('0%');
      $(temph).width('100%');
    }
    // Humidity
    $(hum).text(HUM);
    $(humid).width(HUM + '%');

    // Methane
    $(gas).text(CH4);
    var gwidth = (CH4 * 100) / 10000;
    if (CH4 < 1001) {
      $(metm).width(gwidth + '%');
      $(meth).width('0%');
    } else if (CH4 > 1000) {
      $(metm).width('0%');
      $(meth).width(gwidth + '%');
    }

    // VOC
    $(voc).text(VOC);
    var vwidth = (VOC * 100) / 600;
    if (VOC < 491) {
      $(vocn).width(vwidth + "%");
      $(voch).width("0%");
    } else if (VOC > 490) {
      $(vocn).width("0%");
      $(voch).width(vwidth + "%");
    }

    // CO2
    $(co2).text(CO2);
    var cwidth = (CO2 * 100) / 2000;
    if (CO2 < 1001) {
      $(co2n).width(cwidth + "%");
      $(co2p).width('0%');
      $(co2h).width('0%');
    } else if (CO2 > 1000 && CO2 < 2000) {
      $(co2n).width('0%');
      $(co2p).width(cwidth + "%");
      $(co2h).width('0%');
    } else if (CO2 >= 2000) {
      $(co2n).width('0%');
      $(co2p).width('0%');
      $(co2h).width(cwidth + "%");
    }
  });

  var socket = io.connect('http://192.168.2.102:3000');
  socket.on('connect', function () {
    socket.on('mqtt', function (msg) {
      console.log(msg.topic + ' ' + msg.payload);

      if (msg.topic == 'Digital_box') {
        var value = JSON.parse(msg.payload);
        // Datetime
        $(time).text(value.DATETIME)
        // Temperature
        $(temp).text(value.TMP);
        if (value.TMP < 5) {
          $(tempo).width('50%');
          $(temph).width('0%');
        } else if (value.TMP > 4) {
          $(tempo).width('0%');
          $(temph).width('100%');
        }
        // Humidity
        $(hum).text(value.HUM);
        $(humid).width(value.HUM + '%');

        // Methane
        $(gas).text(value.CH4);
        var gwidth = (value.CH4 * 100) / 10000;
        if (value.CH4 < 1001) {
          $(metm).width(gwidth + '%');
          $(meth).width('0%');
        } else if (value.CH4 > 1000) {
          $(metm).width('0%');
          $(meth).width(gwidth + '%');
        }

        // VOC
        $(voc).text(value.VOC);
        var vwidth = (value.VOC * 100) / 600;
        if (value.VOC < 491) {
          $(vocn).width(vwidth + "%");
          $(voch).width("0%");
        } else if (value.VOC > 490) {
          $(vocn).width("0%");
          $(voch).width(vwidth + "%");
        }

        // CO2
        $(co2).text(value.CO2);
        var cwidth = (value.CO2 * 100) / 2000;
        if (value.CO2 < 1001) {
          $(co2n).width(cwidth + "%");
          $(co2p).width('0%');
          $(co2h).width('0%');
        } else if (value.CO2 > 1000 && value.CO2 < 2000) {
          $(co2n).width('0%');
          $(co2p).width(cwidth + "%");
          $(co2h).width('0%');
        } else if (value.CO2 >= 2000) {
          $(co2n).width('0%');
          $(co2p).width('0%');
          $(co2h).width(cwidth + "%");
        }
      }
    });
    socket.emit('subscribe', { topic: 'Digital_box' });
  });
</script>