<div class="jumbotron">
    <form method="post" action="/users/login" class="form-group">
        <h1 class="display-4">Login to Your Account</h1>
        <div class="form-group">
            <label>Username</label>    
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
            <a href="/users/forgotPassword" class="text-success">Forgot your password?</a>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
            <a href="/users/register" class="text-success">Create a new account</a>
    </form>
</div>
