 <!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Location</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 23.774034, lng: 90.366276};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQU5_7HYVv9jDWWR0zyxcEhI5Df0t3cO8&callback=initMap">
    </script>
  </body>
</html> 