<div class="form-group">
    <br>
    <h2 class="font-weight-bold text-center text-info">Data Preview </p>
        <select class="form-control" id="select">
            <option>-Select Number of Days-</option>
            <option value="17280">1 day (17280 Data Points)</option>
            <option value="34560">2 days (34560 Data Points)</option>
            <option value="51840">3 days (51840 Data Points)</option>
            <option value="69120">4 days (69120 Data Points)</option>
            <option value="86400">5 days (86400 Data Points)</option>
            <option value="103680">6 days (103680 Data Points)</option>
            <option value="120960">7 days (120960 Data Points)</option>
        </select>
</div>

<div class="jumbotron">
    {{!-- <p class="display-4">Plotly Chart</p> --}}
    <div id="temp" style="width: 1024px; height: 576px;">
    </div>
</div>
<div class="jumbotron">
    {{!-- <p class="display-4">Plotly Chart</p> --}}
    <div id="hum" style="width: 1024px; height: 576px;"></div>
</div>
<div class="jumbotron">
    {{!-- <p class="display-4">Plotly Chart</p> --}}
    <div id="co2" style="width: 1024px; height: 576px;"></div>
</div>
<div class="jumbotron">
    {{!-- <p class="display-4">Plotly Chart</p> --}}
    <div id="voc" style="width: 1024px; height: 576px;"></div>
</div>
<div class="jumbotron">
    {{!-- <p class="display-4">Plotly Chart</p> --}}
    <div id="ch4" style="width: 1024px; height: 576px;"></div>
</div>

<script>
    $("select").change(function () {
        var x = [];
        var y = [];
        var limit = $("#select option:selected").val();
        $.ajax({

            url: 'http://localhost:3000/api/appsensordata',
            type: 'get',
            dataType: 'json',
            json: 'json',
            success: function (data) {

                $.each(data, function (i, item) {

                    if (item.TEMPERATURE != undefined) {

                        x.push(item.DATETIME);
                        y.push(item.TEMPERATURE);
                    }

                });
                var plotdata = [{ x, y, type: 'scatter' }];

                var layout = {
                    title: 'Temperature Data Graph'
                };

                Plotly.newPlot('temp', plotdata, layout);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('error', errorThrown);
            }
        });
    });
</script>
{{!-- Temperature --}}

<script>
    $("select").change(function () {
        var x = [];
        var y = [];
        var limit = $("#select option:selected").val();
        $.ajax({

            url: 'http://localhost:3000/api/appsensordata',
            type: 'get',
            dataType: 'json',
            json: 'json',
            success: function (data) {

                $.each(data, function (i, item) {
                    if (item.HUMIDITY != undefined) {

                        x.push(item.DATETIME);
                        y.push(item.HUMIDITY);
                    }

                });
                var plotdata = [{ x, y, type: 'scatter' }];

                var layout = {
                    title: 'Humidity Data Graph'
                };

                Plotly.newPlot('hum', plotdata, layout);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('error', errorThrown);
            }
        });
    });
</script>
<script>
    $("select").change(function () {
        var x = [];
        var y = [];
        var limit = $("#select option:selected").val();

        $.ajax({

            url: 'http://localhost:3000/api/appsensordata',
            type: 'get',
            dataType: 'json',
            json: 'json',
            success: function (data) {
                console.log('success', data);
                $.each(data, function (i, item) {
                    if (item.CO2 != undefined) {
                        console.log("VOC: " + item.CO2 + "Time: " + item.DATETIME);
                        x.push(item.DATETIME);
                        y.push(item.CO2);
                    }

                });
                var plotdata = [{ x, y, type: 'scatter' }];

                var layout = {
                    title: 'CO2 Data Graph'
                };

                Plotly.newPlot('co2', plotdata, layout);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('error', errorThrown);
            }
        });
    });
</script>


<script>
    $("select").change(function () {
        var x = [];
        var y = [];
        var limit = $("#select option:selected").val();
        $.ajax({

            url: 'http://localhost:3000/api/appsensordata',
            type: 'get',
            dataType: 'json',
            json: 'json',
            success: function (data) {

                $.each(data, function (i, item) {
                    if (item.VOC != undefined) {

                        x.push(item.DATETIME);
                        y.push(item.VOC);
                    }

                });
                var plotdata = [{ x, y, type: 'scatter' }];

                var layout = {
                    title: 'VOC Data Graph'
                };

                Plotly.newPlot('voc', plotdata, layout);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('error', errorThrown);
            }
        });
    });
</script>

<script>
    $("select").change(function () {
        var x = [];
        var y = [];
        var limit = $("#select option:selected").val();
        $.ajax({

            url: 'http://localhost:3000/api/appsensordata',
            type: 'get',
            dataType: 'json',
            json: 'json',
            success: function (data) {

                $.each(data, function (i, item) {
                    if (item.CH4 != undefined) {

                        x.push(item.DATETIME);
                        y.push(item.CH4);
                    }

                });
                var plotdata = [{ x, y, type: 'scatter' }];

                var layout = {
                    title: 'Methane Data Graph'
                };

                Plotly.newPlot('ch4', plotdata, layout);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('error', errorThrown);
            }
        });
    });
</script>