<div class="jumbotron">
    <form method="post" action="/users/register" class="form-group">
        <h1 class="display-4">Create Your Own Account</h1>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" name="name">
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username" name="username">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Email" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password2">
        </div>    
        <button type="submit" class="btn btn-success btn-block">Sign Up</button>
    </form>
    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger">
                {{msg}}
            </div>
        {{/each}}
    {{/if}}
</div>