<div class="jumbotron">
    <h2 class="display-4 text-center">Sensor Data</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Data ID</th>
                <th>Datetime</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>CO2</th>
                <th>VOC</th>
                <th>CH4</th>

            </tr>
        </thead>
        <tbody>
            <script>
                console.log("Here", data)
            </script>
            {{#each data}}
            <tr>
                <th><a href="/device/detail/{{this._id}}">{{this._id}}</a></th>
                <th>{{this.DATETIME}}</th>
                <th>{{this.TEMPERATURE}}</th>
                <th>{{this.HUMIDITY}}</th>
                <th>{{this.VOC}}</th>
                <th>{{this.CO2}}</th>
                <th>{{this.CH4}}</th>

                <th>
                    <form action="/api/sensor/{{this._id}}/edit?_method=PUT" method="POST">
                        <button class="btn btn-info" type="submit">Edit</button>
                    </form>
                </th>
                <th>
                    <form action="/api/sensor/{{this._id}}/delete?_method=DELETE" method="POST">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>

                </th>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="table-responsive">

</div>