<div class="jumbotron">
    <p class="display-4">Select your zone</p>
    <a href="/" class="btn btn-info btn-block">Gazipur</a>
    <a href="/" class="btn btn-info btn-block">Dhaka</a>
    <a href="/" class="btn btn-info btn-block">Savar</a>
    <a href="/" class="btn btn-info btn-block">Chittagong</a>
</div>

