html {
  font-size: 14px;
}

/* ID */
/* Google map starts */
#map {
  height: 400px;
  width: 100%;
}
/* Google map ends */

/* Detail Page Starts */

/* Detail Page Ends */
/* Forget password starts */
.input-group {
  margin-top: 5%;
  margin-left: 10%;
}
/* Forget password ends */

.card {
  margin: 0.3%;
  padding: 0%;
  height: 240px;
  width: 220px;
}

.jumbotron-chart {
  padding: 0%;
  border: 2px;
  border-color: darkgray;
}

.loader {
  border-top: 16px solid #f3f3f3;
  border-bottom: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("../images/digital\ Box.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
}
